.service {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.service-container {
    width: 90%;
    margin: 0 auto;
}

@media only screen and (max-width: 56.25em) {
    .service-container {
        width: 100%;
        padding: 0 20px;
    }
}

.service-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 60px;
    padding: 60px 0;
}

@media only screen and (max-width: 56.25em) {
    .service-top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 30px;
        padding: 30px 0;
    }
}

.service-top-heading {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.service-top-body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.service-main {
    width: 100%;
    min-height: 900px;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[16];
    grid-template-rows: repeat(16, 1fr);
    -webkit-column-gap: 60px;
    column-gap: 60px;
}

@media only screen and (max-width: 75em) {
    .service-main {
        -webkit-column-gap: 30px;
        column-gap: 30px;
    }
}

@media only screen and (max-width: 56.25em) {
    .service-main {
        -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
        -ms-grid-rows: (1fr)[15];
        grid-template-rows: repeat(15, 1fr);
        gap: 0;
    }
}

.service-main .card {
    position: relative;
    -ms-grid-column-align: center;
    justify-self: center;
}

.service-main .card-heading {
    position: relative;
}

.service-main .card-heading h3 {
    padding: 6rem;
    position: relative;
}

@media only screen and (max-width: 56.25em) {
    .service-main .card-heading h3 {
        margin-top: 30px;
        padding: 4.5rem;
    }
}

.service-main .card-heading h3::before {
    position: absolute;
    content: '01';
    left: -15px;
    top: -15px;
    font-style: italic;
    font-size: 11rem;
    color: #01996D;
    opacity: 0.20;
}

@media only screen and (max-width: 56.25em) {
    .service-main .card-heading h3::before {
        font-size: 9rem;
    }
}

.service-main .card img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

@media only screen and (max-width: 56.25em) {
    .service-main .card img {
        max-width: 400px;
        width: 100%;
    }
}

.service-main .card-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    grid-row: 1 / span 5;
}

.service-main .card-1 h3::before {
    content: '01';
}

@media only screen and (max-width: 56.25em) {
    .service-main .card-1 {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1 / span 1;
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        grid-row: 1 / span 2;
    }
}

.service-main .card-img-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-row: 6;
    -ms-grid-row-span: 8;
    grid-row: 6 / span 8;
}

@media only screen and (max-width: 56.25em) {
    .service-main .card-img-1 {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1 / span 1;
        -ms-grid-row: 3;
        -ms-grid-row-span: 3;
        grid-row: 3 / span 3;
    }
}

.service-main .card-2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    -ms-grid-row: 4;
    -ms-grid-row-span: 5;
    grid-row: 4 / span 5;
}

.service-main .card-2 h3::before {
    content: '02';
}

@media only screen and (max-width: 56.25em) {
    .service-main .card-2 {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1 / span 1;
        -ms-grid-row: 6;
        -ms-grid-row-span: 2;
        grid-row: 6 / span 2;
    }
}

.service-main .card-img-2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    -ms-grid-row: 9;
    -ms-grid-row-span: 8;
    grid-row: 9 / span 8;
}

@media only screen and (max-width: 56.25em) {
    .service-main .card-img-2 {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1 / span 1;
        -ms-grid-row: 8;
        -ms-grid-row-span: 3;
        grid-row: 8 / span 3;
    }
}

.italic {
    font-style: italic;
}

.italic2 {
    color: #01996D;
    font-style: italic;
}

.service-main .card-3 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / span 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 5;
    grid-row: 2 / span 5;
}

.service-main .card-3 h3::before {
    content: '03';
}

@media only screen and (max-width: 56.25em) {
    .service-main .card-3 {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1 / span 1;
        -ms-grid-row: 11;
        -ms-grid-row-span: 2;
        grid-row: 11 / span 2;
    }
}

.service-main .card-img-3 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / span 1;
    -ms-grid-row: 7;
    -ms-grid-row-span: 8;
    grid-row: 7 / span 8;
}

@media only screen and (max-width: 56.25em) {
    .service-main .card-img-3 {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1 / span 1;
        -ms-grid-row: 13;
        -ms-grid-row-span: 3;
        grid-row: 13 / span 3;
    }
}

.inventory-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    overflow-x: hidden;
}

.inventory-container2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    overflow-x: hidden;
}

.cards {
    border-radius: 34px;
    border: none;
    background: #f7f7f7;
    box-shadow: 9px 9px 28px #ffffff,
        -9px -9px 18px #ffffff;
}

.cards3 {
    border-radius: 9px;
    border: none;
    background: #f7f7f7;
    box-shadow: 9px 9px 28px #151f317e, -9px -9px 18px #02020462;
}

.cards4 {
    border-radius: 9px;
    padding: 10px;
    border: none;
    color: #234567;
    background: #fffefee3;
    box-shadow: 9px 9px 28px #05060800, -9px -9px 18px #04040462;
}

.cards2 {
    border-radius: 18px;
    width: fit-content;
    border: none;
    background: #f7f7f7;
    box-shadow: 9px 9px 28px #bebebe,
        -9px -9px 18px #ffffff;
}

.imgCards {
    border-radius: 12px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: none;
    background: #f7f7f7;
    box-shadow: 9px 9px 28px #ffffff,
        -9px -9px 18px #ffffff;
    height: 250px;
}

.cards-special {
    border-radius: 12px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: none;
    background: #f7f7f7;
    box-shadow: 9px 9px 28px #ffffff,
        -9px -9px 18px #ffffff;
    height: auto;
}

/* button  */
.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    text-decoration: none !important;
}

.cta4 {
    position: relative;
    margin: auto;
    padding: 5px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #37bfabb8;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}


nav a {
    /* font-weight: 400 !important; */
    color: #0FAF97 !important;
}

nav a:hover {
    color: #112421b8 !important;
}

.color-2 {
    color: #0FAF97 !important;
}

.color-2:hover {
    color: #112421b8 !important;
}

.cta2:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #c7efe9f1;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: #0FAF97;
}


.cta2:hover:before {
    width: 100%;
    background: #e7e7e7;
    color: #234567;
}

.cta8:hover:before {
    width: 100%;
    background: #0FAF97;
    color: #e4e4e4;
}

.cta9:hover:before {
    width: 100%;
    background: #d52216;
    color: #e4e4e4;
}

.cta8 span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.05em;
    color: #ffffff;
}

.cta9 span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.05em;
    color: #ffffff;
}


.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.tittle-hover h1 {
    color: #0FAF97;
}

.tittle-hover:hover .titile-card {
    color: #0FAF97;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.95);
}



@keyframes animate {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}

/* make services responsive */
@media only screen and (max-width:576px) {
    .inventory-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .inventory-container2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .flex {
        display: block;
        text-align: center;

    }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
    .inventory-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .inventory-container2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
}